:root {
	/* color */
	--color-primary: #fb5f62;
	--color-secondary: #232a3d;
	--color-white: #fff;
	--color-black: #000;
	--color-gray: #aaa;

	/* typography */
	--font-family: arial, helvetica, sans-serif;
}
