save-exact=true
@vi:registry=https://vicompany.pkgs.visualstudio.com/_packaging/vi-npm/npm/registry/
//vicompany.pkgs.visualstudio.com/_packaging/vi-npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI0OGI1YWYzOS0zYzU2LTRkM2EtODI4OC01YzJiNzEyNmEzMmYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGYyMjczN2MtNGJiOC00ZDY2LTg2ZGUtNDM3ZTkzMTAwN2IyIiwic2lkIjoiN2EwNDIxZGQtMWY3Ni00ZTM5LTllZDAtMmRhMTIxMDcxYmQzIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjcxYmYxY2Y5LTBhMTktNDNkZS04NTViLTljNDg2OWUxMGU1NSIsIm5iZiI6MTU4ODg1MDUxOCwiZXhwIjoxNTg4ODk0MzE4fQ.3vGQEGa9_Eb7xkPkXLsGQYkyg4rO4VAUWuZnPq9ItEAbEjr5BShUGiOckuMdCVIEzzXbcM341ELQkBe4i2pGIcGdd0FlSKIpIgctUDCWvhBro5JiBcnGfSaUbeZZ_-yXrKSD-fsVFJafi78TJyuGAatr9X3koRexJMnsOJC8DtID9OsbTNf2Pub9NweFbGYz-ZITR_LaDLMnGyxYAZKCb7alB1DwcYVpF38KowlCubY1cuGrsHuieXo38ZSq6ZhqU7eRObxCK9EtcoEtSfJBx6JPz1HeYj5p0Xsr7LShU1mHUTAkeTUTflRAPbm09x_7CB5hgMwsdPGY8vzBdXLA-w

