.button {
	display: inline-block;

	padding: 1rem 2rem;

	color: var(--color-white);
	text-decoration: none;

	background: var(--color-primary);
	border: 2px solid var(--color-primary);

	&:hover {
		background: var(--color-secondary);
		border-color: var(--color-white);
	}

	&:active {
		background-color: var(--color-primary);
	}

	&[disabled] {
		color: var(--color-white);

		background: var(--color-gray);
		border-color: var(--color-gray);
	}
}
