<main>
	<h1>Hello World</h1>

	<blockquote>
		<p>{{ fact }}</p>
		<footer>
			— <cite><a title="Random cat fact" href="https://alexwohlbruck.github.io/cat-facts">source: cat-facts</a></cite>
		</footer>
	</blockquote>

	<button class="js-button">Load dynamic script</button>

	{{> _icon name="motor" }}
</main>

