<h1>
	{{#if title }}
		{{ title }}
	{{else }}
		Oops...
	{{/if }}
</h1>
{{#if error }}
	<p>{{ error }}</p>
{{else }}
	<p>Something went wrong. Try to refresh the page or contact us.</p>
{{/if }}
<a href="/" class="button">Back</a>
